<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/stlye.css">
    <link rel="stylesheet" href="link" rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
</head>
<body>
<section class="sub-header">
        <nav>
            <a href="/"><img src="/images/logo.png" alt="basketball logo"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/training">TRAINING</a></li>
                    <li><a href="/blog">BLOG</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                    <li><a href="/login">LOGIN</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <h1>LOGIN OR REGISTER WITH US</h1> 
</section>
<!-----------------------Login page------------->
<section class="login-section">
    <h2>Login</h2>
    <form class="login-info" action="/route/login" method="POST">
        <h3>Email</h3>
        <i class="fa fa-user"></i><span><input type="email" placeholder="email" name="email"></span>
        <hr>
        <h3>Password</h3>
        <i class="fa fa-key"></i><span><input type="password" placeholder="password" name="password"></span>
        <hr>
        <h6><a href="/forgot_password">Forgot password?</a></h5>
        <button class="login-btn" type="submit">LOGIN</button>
        
    </form>
    <p>Or Sign Up Using</p>
    <button class="social-btn facebook-btn"><a href="https://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></button>
    <button class="social-btn twitter-btn"><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></button>
    <button class="social-btn google-btn"><a href="https://gmail.com" target="_blank"><i class="fa fa-google"></i></a></button>
    <p>Or Sign Up Using</p>
    <a href="/register"><h6>SIGN UP</h6></a>
</section>


<!------------------footer------------------------>
<section class="footer">
    <h3>About Us</h3>
    <p> We have been around for quite some time and we have been doing extremely well, transforming street players <br> to world class players. Our facilities are decent enough to support our goals. </p>
    <div class="icons">
        <a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
        <a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
        <a href="https://linkedin.com"><i class="fa fa-linkedin"></i></a>
    </div>
    <p>Made By 1Mole</p>
</section>
<!-----------javaScript for toggle -->
<script>
    var navLinks= document.getElementById("navLinks");
    function showMenu(){
        navLinks.style.right= "0"
    }
    function hideMenu(){
        navLinks.style.right= "-200px"
    }
</script>
</body>
</html>

